$VAR1 = bless( {
                 'stdout_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp/out',
                 'input' => [
                              {
                                'format' => 'List',
                                'elements' => [
                                                'a',
                                                'b',
                                                'c',
                                                'd',
                                                'e',
                                                'f'
                                              ],
                                'idx_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/idx/test_env.0.idx'
                              }
                            ],
                 'no_prompt' => 1,
                 'mode' => 'Consecutive',
                 'args' => [],
                 'submit_params' => [],
                 'submit_bin' => '/home/bargs001/Bio-Grid-Run-SGE/bin/qfake.pl',
                 'working_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b',
                 'stderr_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp/err',
                 'log_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp/log',
                 'tmp_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp',
                 'iterator' => bless( {
                                        'indices' => [
                                                       bless( {
                                                                'chunk_size' => 1,
                                                                'writeable' => 1,
                                                                'idx' => [
                                                                           'a',
                                                                           'b',
                                                                           'c',
                                                                           'd',
                                                                           'e',
                                                                           'f'
                                                                         ],
                                                                '_internal_info' => {},
                                                                'idx_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/idx/test_env.0.idx'
                                                              }, 'Bio::Grid::Run::SGE::Index::List' )
                                                     ]
                                      }, 'Bio::Grid::Run::SGE::Iterator::Consecutive' ),
                 'job_name' => 'test_env',
                 'extra' => {},
                 'notify' => {
                               'jabber' => {
                                             'password' => 'oliebollen',
                                             'dest' => 'yoba@jabber.ccc.de',
                                             'jid' => 'jwb-report@jabber.ccc.de'
                                           },
                               'mail' => {
                                           'smtp_server' => 'net.wur.nl',
                                           'address' => 'joachim.bargsten@wur.nl'
                                         }
                             },
                 'script_dir' => '/home/bargs001/Bio-Grid-Run-SGE/scripts',
                 'idx_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/idx',
                 'job_id' => 1385745003,
                 'cmd' => [
                            '/home/bargs001/Bio-Grid-Run-SGE/scripts/cl_env.pl'
                          ],
                 '_worker_config_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp/test_env.config.dat',
                 'perl_bin' => '/home/bargs001/perl5/perlbrew/perls/perl-5.14.2/bin/perl',
                 'result_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/r',
                 '_worker_env_script' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/0d9izggm1b/tmp/env.test_env.pl',
                 'parts' => 6
               }, 'Bio::Grid::Run::SGE::Master' );
