$VAR1 = bless( {
                 'stdout_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp/out',
                 'input' => [
                              {
                                'format' => 'List',
                                'elements' => [
                                                'a',
                                                'b',
                                                'c',
                                                'd',
                                                'e',
                                                'f'
                                              ],
                                'idx_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/idx/test_env.0.idx'
                              }
                            ],
                 'no_prompt' => 1,
                 'mode' => 'Consecutive',
                 'args' => [],
                 'submit_params' => [],
                 'submit_bin' => 'qsub',
                 'working_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH',
                 'stderr_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp/err',
                 'log_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp/log',
                 'tmp_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp',
                 'iterator' => bless( {
                                        'indices' => [
                                                       bless( {
                                                                'chunk_size' => 1,
                                                                'writeable' => 1,
                                                                'idx' => [
                                                                           [
                                                                             'a'
                                                                           ],
                                                                           [
                                                                             'b'
                                                                           ],
                                                                           [
                                                                             'c'
                                                                           ],
                                                                           [
                                                                             'd'
                                                                           ],
                                                                           [
                                                                             'e'
                                                                           ],
                                                                           [
                                                                             'f'
                                                                           ]
                                                                         ],
                                                                '_internal_info' => {},
                                                                'idx_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/idx/test_env.0.idx'
                                                              }, 'Bio::Grid::Run::SGE::Index::List' )
                                                     ]
                                      }, 'Bio::Grid::Run::SGE::Iterator::Consecutive' ),
                 'job_name' => 'test_env',
                 'extra' => {},
                 'script_dir' => '/home/bargs001/Bio-Grid-Run-SGE/scripts',
                 'idx_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/idx',
                 'job_id' => 327159,
                 'cmd' => [
                            '/home/bargs001/Bio-Grid-Run-SGE/scripts/cl_env.pl'
                          ],
                 '_worker_config_file' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp/test_env.config.dat',
                 'perl_bin' => '/home/bargs001/perl5/perlbrew/perls/perl-5.14.2/bin/perl',
                 'result_dir' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/r',
                 '_worker_env_script' => '/home/bargs001/Bio-Grid-Run-SGE/tmp_test/4K3PBUQfeH/tmp/env.test_env.pl',
                 'parts' => 6
               }, 'Bio::Grid::Run::SGE::Master' );
